@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/ContactPage.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />


<title>İletişim</title>
<body id="contactBody">
	<div class="contactBodycontainer">
		<main class="row">

			<section class="col left">


				<div class="contactTitle">
					<h2>Bize Ulaşın</h2>
					<p>
						Teknoloji alanındaki yenilikçi çözümler sunan bir şirket arıyorsanız doğru yerdesiniz!
						Size yardımcı olmak için sabırsızlanıyoruz, lütfen bizimle iletişime geçmekten çekinmeyin.
					</p>
				</div>

				<div class="contactInfo">

					<div class="iconGroup">
						<div class="icon">
							<i class="fa-solid fa-phone"></i>
						</div>
						<div class="details">
							<span>Telefon:</span>
							<span>+90 555 555 55 55</span>
						</div>
					</div>

					<div class="iconGroup">
						<div class="icon">
							<i class="fa-solid fa-envelope"></i>
						</div>
						<div class="details">
							<span>E-posta:</span>
							<span>Webproje@company.com</span>
						</div>
					</div>


				

					<div class="iconGroup">
						<div class="icon">
							<i class="fa-solid fa-location-dot"></i>
						</div>
						<div class="details">
							<span>Konum</span>
							<span>Ankara Gazi Üniversitesi Teknoloji Fakültesi</span>
						</div>
					</div>

				</div>

				<div class="socialMedia">
					<a href="https://github.com"><i class="fa-brands fa-github"></i></a>
					<a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
					<a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
					<a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>

			</section>

			<section class="col right">

				<form class="messageForm">

					<div class="inputGroup halfWidth">
						<input type="text" name="">
						<label>İsminiz:</label>
					</div>

					<div class="inputGroup halfWidth">
						<input type="email" name="">
						<label>E-posta</label>
					</div>

					<div class="inputGroup fullWidth">
						<input type="text" name="">
						<label>Konu</label>
					</div>

					<div class="inputGroup fullWidth">
						<textarea></textarea>
						<label>Bir şeyler yazmaktan çekinmeyiniz!</label>
					</div>

					<div class="inputGroup fullWidth " style="
						 justify-content: center;
						 display: flex;">
						<button>Gönder</button>
					</div>

				</form>


			</section>

		</main>
	</div>
</body>