@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/HomePage.css" rel=" stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">



   

    <div style="padding-top: 50px;">

        <img style="border-radius:15%; display: block; height 300px; margin: auto;" src="~/img/foto.png" />
      </div>
        
      
        <div class="content">
           
        <h1>Merhaba Ben İbrahim Fatih İNCELİ </h1>
        <h2>Bilgisayar Mühendisliği Öğrencisi</h2>
        <p style="margin-left: 350px; margin-right: 350px;">
            Merhaba, ben İbrahim Fatih İNCELİ. Ankara'da yaşıyorum ve Gazi Üniversitesi'nde bilgisayar mühendisliği
            bölümünde öğrenciyim.
            Boş zamanlarımda gitar çalmayı ve müzik dinlemeyi seviyorum.
            Kişisel özelliklerim arasında sabırlı ve disiplinli olmam yer alıyor.
            Hedefim, Iot alanında kendimi geliştirerek, iş dünyasında başarılı bir kariyere sahip olmak.
            Hakkımda daha fazla bilgi edinmek için aşşağıdaki linkleri kullanarak kişisel web adreslerime
            gidebilirsiniz.
        </p>

        </div>
        