@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/Project.css">

<div class="verticalCards">
    <div class="cards">
        <img src="~/img/Database.jpg" alt="">
        <a>Şirket Veritabanı Sistemi </a>
    </div>
    <div class="cards">
        <img src="~/img/chargeAll.jpg" alt="">
        <a >ChargeAll Projesi</a>
    </div>
    <div class="cards">
        <img src="~/img/c_proje.png">
        <a>C# Sinema Arşiv Otomasyonu </a>
    </div>

</div>
